.position {
	position: static; /*no change - default*/
	position: relative; /* move around default position*/
	position: absolute; /* fixed position to relative parent*/
	position: sticky; /* stick to corner when crolling */
	position: fixed; /* fixed position on view */
}

.top {
	top: auto;
	top: 10px;
	top: 10%;
}

.bottom {
	bottom: auto;
	bottom: 10px;
	bottom: 10%;
}

.left {
	left: auto;
	left: -10px;
	left: 0px;
	left: 10px;
	left: 10%;
}

.right {
	right: auto;
	right: 10px;
	right: 10%;
}

.z-index {
	z-index: auto;
	z-index: 1;
}

.clip {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 350px;
	height: 350px;
	/*
		rect(top right bottom left)
	*/
	clip: rect(0px 350px 350px 0px); /* no clip div inicial size */
	clip: rect(10px 340px 340px 10px); /* lip 10px from evry side */
	
}

.clip-path {
	clip-path: none;
	clip-path: url(path.svg);	
	clip-path: margin-box;
	clip-path: border-box;
	clip-path: padding-box;
	clip-path: content-box;
	clip-path: fill-box;
	clip-path: stroke-box;
	clip-path: view-box;
	clip-path: inset(100px 50px);
	clip-path: circle(50px at 0 100px);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: path('M0.5,1 C0.5,1,0,0.7,0,0.3 A0.25,0.25,1,1,1,0.5,0.3 A0.25,0.25,1,1,1,1,0.3 C1,0.7,0.5,1,0.5,1 Z');
	clip-path: padding-box circle(50px at 0 100px);
}