el { /* align inline element in row  on height */
    vertical-align: 25px;
    vertical-align: -25px;
    vertical-align: 10%;
    vertical-align: -10%;
    vertical-align: baseline;    
    vertical-align: sub;
    vertical-align: super;
    vertical-align: top;
    vertical-align: text-top;
    vertical-align: middle;
    vertical-align: bottom;
    vertical-align: text-bottom;
}

/* align text in row (paragraph) on width */

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}
