body {
  counter-reset: mycounter; /* set counter to 0*/
}

h2::before {
  counter-increment: mycounter; /* increment counter by 1 */
  content: "Section " counter(mycounter) ". "; /* add content befor evry h1 */
}