font
@font-face
font-family
font-feature-settings
@font-feature-values
font-kerning
font-language-override
font-size
font-size-adjust
font-stretch
font-style
font-synthesis
font-variant
font-variant-alternates
font-variant-caps
font-variant-east-asian
font-variant-ligatures
font-variant-numeric
font-variant-position
font-weight


/*
Google fonts https://fonts.google.com/

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
*/

p {
    font-family: 'Roboto Mono', monospace;
}

/* Serif Fonts */

p { font-family: Georgia, serif; }
p { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
p { font-family: "Times New Roman", Times, serif; }

/* Sans-Serif Fonts */

p { font-family: Arial, Helvetica, sans-serif; }
p { font-family: "Arial Black", Gadget, sans-serif; }
p { font-family: "Comic Sans MS", cursive, sans-serif; }
p { font-family: Impact, Charcoal, sans-serif; }
p { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
p { font-family: Tahoma, Geneva, sans-serif; }
p { font-family: "Trebuchet MS", Helvetica, sans-serif;}
p { font-family: Verdana, Geneva, sans-serif; }

/* Monospace Fonts */
 
p { font-family: "Courier New", Courier, monospace }
p { font-family: "Lucida Console", Monaco, monospace }